*{
    background-color:lightgray;
    border-radius:10%;
}
#img1 {
    margin-left:750px;
    margin-top: -215px;
}  
#id1{
    text-align:left;
    border:4px solid snow;
    height:425px;
    margin-bottom:200px;
    background-color:snow;
    padding-left:17px;
    font-size: 25px;
    color:coral;
    padding-top:20px;
    width:1355px;
}

h1 {
    color:Black;
    text-align: center;
    padding-top:15px ;
    font-size:55px;
}
h2{
    color:darkblue;
}
#id2{
    text-align:left;
    border:4px solid snow;
    height:725px;
    margin-bottom:400px;
    background-color:snow;
    font-size:25px;
    width: 1350px;
    color:blueviolet;
    padding-left:25px;
    padding-top:20px;
}
#img2 {
    margin-left:765px;
    margin-top:-1800px;
}
#id3 {
    text-align:left;
    border:4px solid snow;
    height:625px;
    margin-bottom:400px;
    background-color:snow;
    font-size:25px;
    width: 1325px;
    color:black;
    padding-left:20px;
    padding-top: 20px;
}
#img3 {
    margin-top:-150px;
    margin-left:800px;
}
h2 {
    font-size: 30px;
} 
#id4 {
    text-align:left;
    border:4px solid snow;
    height:620px;
    margin-bottom:400px;
    background-color:snow;
    font-size:25px;
    width: 1325px;
    color:darkgreen;
    padding-left:25px;
    padding-top: 20px;
}
#img4 {
    margin-left:635px;
    margin-top:-800px;
}
#id5 {
     text-align:left;
    border:4px solid snow;
    height:530px;
    margin-bottom:400px;
    background-color:snow;
    font-size:25px;
    width: 1325px;
    color:darkmagenta;
    padding-left:25px;
    padding-top: 20px;
}
#img5 {
    margin-left:700px;
    margin-top:-700px;
}
#id6 {
     text-align:left;
    border:4px solid snow;
    height:600px;
    margin-bottom:400px;
    background-color:snow;
    font-size:25px;
    width: 1325px;
    color:darkred;
    padding-left:25px;
    padding-top: 20px;
}
#img6 {
    margin-top:-85px;
    margin-left:825px;
}
#img7 {
    margin-top:35px;
    margin-left:830px;
}
#id7 {
     text-align:left;
    border:4px solid snow;
    height:450px;
    margin-bottom:400px;
    background-color:snow;
    font-size:25px;
    width: 1325px;
    color:darkturquoise;
    padding-left:25px;
    padding-top: 20px;
}  
#img8 {
    margin-left:800px;
}
#id8 {
     text-align:left;
    border:4px solid snow;
    height:400px;
    margin-bottom:400px;
    background-color:snow;
    font-size:25px;
    width: 1325px;
    color:darkorange;
    padding-left:25px;
    padding-top: 20px;
}  
#img9 {
    margin-left:835px;
    margin-top:-120px;
}
#id9 {
    text-align:left;
    border:4px solid snow;
    height:500px;
    margin-bottom:400px;
    background-color:snow;
    font-size:25px;
    width: 1355px;
    color:dimgray;
    padding-left:25px;
    padding-top: 20px;
}  
#img10 {
    margin-left:750px ;
    margin-top:-200px;
}
#id10 {
    text-align:left;
    border:4px solid snow;
    height:525px;
    margin-bottom:400px;
    background-color:snow;
    font-size:25px;
    width: 1355px;
    color:purple;
    padding-left:25px;
    padding-top: 20px;
}  
#img11 {
    margin-left:725px ;
    margin-top:-230px;
}
